// Importing needed font-families
@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap'); //font-family Suranna
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap'); //font-family DM Sans

    /* 
    color palette  
    */
    $text-red-100: #FFE2E4;
    $text-red-200: #FFA7AB;
    $text-red-300: #DC5259;
    $text-red-400: #890006;
    $text-blue-100: #ECF5FF;
    $text-blue-200: #B5D8FE;
    $text-blue-300: #3780CF;
    $text-blue-400: #0E2E51;
    $text-gray-100: #F1F1F1;
    $text-gray-200: #BFBFBF;
    $text-gray-300: #989898;
    $text-gray-400: #545454;
    $text-black: #1A1818;
    $text-white: #ffffff;

    /* font weight variables */
    $fw-b: 700;
    $fw-r: 300;

    /* opacity */
    $op-7: .7rem;
    $op-5: .5rem;
    $op-3: .3rem;
    
    /* font family */
    $ff-primary: 'DM Sans', sans-serif;
    $ff-secondary: 'Suranna', serif;
    
    /* font sizes */
    $fs-xs: 1.4rem;
    $fs-sm: 1.6rem;
    $fs-md: 2rem;
    $fs-lg: 3.6rem;
    $fs-xl: 4.8rem;
    $fs-xxl: 6.4rem;
    
    /*shadow variables */
    $shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);



/* Box sizing rules */

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* Set core root defaults */

html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    width: 100vw;
    max-width: 160rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    /* background-color: grey; */
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}