@import 'default.scss';

footer {
    display: flex;
    width: 100%;
    background: $text-black;
    padding: 5rem 6rem;
    padding-bottom: 0;
    flex-direction: column;
    font-family: $ff-primary;
    margin-top: 3rem;

    .main-footer {
        display: flex;
        justify-content: space-between;
        gap:7rem;
        // flex-wrap: wrap;
   
        .footer-links, .brand-logo, .contact {
            flex-basis: 26rem;
        }

        .brand-logo, .contact {
            flex: 1;
        }

        .brand-logo img {
            padding: 1rem;
            background: $text-white;
            width: 8rem;
            height: 8rem;
            border-radius: .7rem;
        }

        .footer-links {
            flex: 2;
            display: flex;
            justify-content: space-around;
            gap: 5rem;
        }
        .quick-links, .services {
            p {
                font-weight: $fw-b;
                font-size: $fs-lg;
                color: $text-white;

                @media screen and (max-width: 600px) {
                    font-size: $fs-md;                    
                }
            }

            ul {
                list-style: none;
                padding: 0;
                li {
                    margin: 3rem 0;
                    a {
                        color: $text-gray-200;
                        font-size: $fs-md;
                        text-decoration: none;
                        @media screen and (max-width: 600px) {
                            font-size: $fs-sm;                    
                        }
                    }  
                }
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            margin-right: 3rem;

            p {
                font-weight: $fw-b;
                font-size: $fs-lg;
                color: $text-white;
                margin-bottom: .8rem;

                @media screen and (max-width: 600px) {
                    font-size: $fs-md;                    
                }
            }
            
            &>a {
                display: inline-flex;
                gap: 1rem;
                color: $text-gray-200;
                font-size: $fs-md;
                text-decoration: none;
                margin: 1.5rem 0;

                @media screen and (max-width: 600px) {
                    font-size: $fs-sm;                    
                }
            }

            hr {
                width: 100%;
            }

            .social-links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 2.5rem;

                @media screen and (max-width: 600px) {
                    margin-top: 1.5rem;                    
                }

                img {
                    width: $fs-md;
                    height: $fs-md;                        

                    @media screen and (max-width: 600px) {
                        width: $fs-sm;
                        height: $fs-sm;                        
                    }
                }
            }
        }
        @media screen and (max-width: 1000px) {
            flex-direction: column;
            align-items: start;
            gap:1rem;
                 
            .footer-links, .brand-logo, .contact {
                flex-basis: 0;
            }
        }
    }

    &>hr {
        margin-top: 5rem;
        width: 100%;
    }

    .copyright {
        text-align: center;
        padding: 3rem 0;
        color: $text-gray-200;
        font-size: $fs-md;
    }

    @media screen and (max-width: 600px) {
        padding: 5rem 1rem;
        padding-bottom: 0;
        
        .main-footer .brand-logo img {
            padding: .8rem;
            width: 6rem;
            height: 6rem;
            border-radius: .4rem;
        }

        .main-footer .contact>a img {
            width: 1rem;
        } 

        &>hr {
            margin-top: 3rem;
        }
    
        .copyright {
            padding: 2rem 0;
            font-size: $fs-sm;
        }
    }
}