@use 'Navbar.scss';
@use 'Footer.scss';
@import 'default.scss';

.hero-section-ctp {
    display: flex;
    background: linear-gradient(180deg, rgba(26, 24, 24, 0) -17.23%, rgba(0, 0, 0, 0.9) 100%), url('../Assets/ctp.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 7rem);
    min-height: 72rem;
    max-height: 80rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 0 6rem;
    padding-bottom: 10.4rem;
    margin-bottom: 25rem;    

    .content {
        display: flex;
        color: $text-white;
        padding-left: 4rem;
        flex-direction: column;
        gap: 16.9rem;

        h1 {
            font-family: $ff-secondary;
            font-size: $fs-xxl;
            font-weight: 400;
        }

        .project-details {
            display: flex;
            align-items: center;
            gap: 20rem;

            div {
                font-family: $ff-primary;
                p {
                    font-weight: $fw-b;
                    font-size: $fs-md;
                    line-height: 2.5rem;
                }

                small {
                    font-size: $fs-sm;
                    font-weight: 400;
                    line-height: 2.5rem;
                    color: #BFBFBF;
                }
            }
        }
    }

    form {
        background: $text-white;
        width: 100%;
        max-width: 35rem;
        padding: 3rem 2rem;
        position: absolute;
        right: 6rem;
        bottom: -14rem;
        box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.25);
 
        h2 {
            font-size: 2.4rem;
            font-weight: 400;
            color: #890006;
        }
    
        .input-field {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            width: 100%;
            margin: 1.5rem 0;
    
            input {
                flex: 1;
                padding: 1.1rem 1.5rem;
                border: 1px solid #989898 ;
                color: #545454;
                font-size: $fs-xs;
                font-family: $ff-primary;
                outline: none;
                width: 100%;
    
                &::placeholder {
                    color: #545454;
                    font-size: $fs-xs;
                    font-family: $ff-primary;
                }
            }
    
            .phone {
                flex: 1;
                display: flex;
                align-items: center;
                border: 1px solid #989898;
                width: 100%;
    
                .country-code {
                    position: relative;
                    padding: .8rem 1.5rem;
                    width: 30%;
                    display: flex;
                    flex:1;
                    align-items: center;
                    gap: .3rem;
                    border-right: 1px solid #989898;
                    padding-right: 1rem;
                    img {
                        width: 1.4rem;
                    }
    
                    span {
                        font-size: $fs-xs;
                        font-family: $ff-primary;
                    }
    
    
                    .cc_dropdown {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        padding: 0;
                        list-style: none;
                        background: #fff;
                        padding: 1rem;
                        border: 1px solid rgba($color: #890006, $alpha: 0.05);
                        box-shadow: 0 0 1px 1px rgba($color: #890006, $alpha: 0.05);
                        width: 10rem;
                        max-height: 12rem;
                        overflow-y: scroll; 
                        display: none;
                        
                        &.active {
                            display: block;
                        }
    
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
    
                        &::-webkit-scrollbar-track {
                            background: rgba($color: #890006, $alpha: 0.05);
                        }
    
                        &::-webkit-scrollbar-thumb {
                            background: rgba($color: $text-gray-200, $alpha: 1);
                            border-radius: 30rem;
                            border: none;
                        }
    
                        li {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            margin: 1rem 0;
                        }
                    }
                }
                input {
                    padding: 0 1rem;
                    border: none;
                    flex:3;
                    color: #545454;
                    font-size: $fs-xs;
                    font-family: $ff-primary;
                    outline: none;
    
                }
            }
        }

        select {
            flex: 1;
            padding: 1.1rem 1.5rem;
            border: 1px solid #989898 ;
            color: #545454;
            font-size: $fs-xs;
            font-family: $ff-primary;
            outline: none;
            width: 100%;
            margin: 1.5rem 0;
            margin-top: 0;

            &::placeholder {
                color: #545454;
                font-size: $fs-xs;
                font-family: $ff-primary;
            }
        }

        textarea {
            padding: 1.1rem 1.5rem;
            border: 1px solid #989898;
            width: 100%;
            max-width: 33rem;
            min-height: 13rem;
            max-height: 17rem; 
    
            &::placeholder {
                color: #545454;
                font-size: $fs-xs;
                font-family: $ff-primary;
            }
        }
    
        button {
            display: block;
            background-color: #890006;
            border: none;
            width: 100%;
            text-align: center;
            margin-top: 1.5rem;
            color: $text-white;
            padding: 1.1rem 0;
            font-size: $fs-xs;
            font-family: $ff-primary;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1000px) {
        align-items: flex-start;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 52rem;
        
        .content {
            gap: 2.5rem;
            padding-left: 0;

            h1 {
                margin-top: 6rem;
                font-size: $fs-lg;
            }
            .project-details {
                flex-direction: column;
                gap: 1.5rem;
                align-items: flex-start;
                div {
                    p {
                        font-size: $fs-sm;
                    }
                }
            }
        }
        
        form {
            position: relative;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 30%);

        }        
    }
}



















