@use 'Navbar.scss';
@use 'Footer.scss';
@import 'default.scss';

*{
    box-sizing: border-box;
}

.bg-about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.contact-us {
    display:flex;
    margin: 12rem 6rem;
    margin-bottom: 20rem;
    padding: 12rem 8rem;
    background: $text-red-400;
    background-image: url('../Assets/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 400px) {
        margin: 5rem 0;
        margin-bottom: 10rem;
        padding: 0;        
    }

    .contact, form {
        flex: 1;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 5rem;
        
        h1 {
            font-family: $ff-secondary;
            font-size: $fs-xxl;
            color: $text-white;
            font-weight: $fw-r;
            width: 50%;
            line-height: 6.8rem;

            @media screen and (max-width: 600px) {
                font-size: $fs-lg;
                line-height: 4rem;
            }
        }
        
        .contact-address {
            display: flex;
            flex-direction: column;

            a {
                display: inline-flex;
                align-items: center;
                gap: 3.2rem;
                margin: 3rem 0;
                color: #F1F1F1;
                text-decoration: none;
                font-family: $ff-primary;
                font-size: $fs-xs;
                opacity: .7;

                @media screen and (max-width: 600px) {
                    gap: 1.2rem;
                    margin: 1rem 0;

                    img {
                        transform: scale(.6);
                    }
                }
            }
        }
        .social-links {
            display: flex;
            align-items: center;
            gap: 8.5rem;
            margin-top: 3rem;

            @media screen and (max-width: 600px) {
                gap: 6rem;

                img {
                    transform: scale(.7);
                }
            }
        }
    }

    form {
        background: $text-white;
        padding: 8rem;
        font-family: $ff-primary;

        label {
            color: #545454;
            font-size: $fs-xs;
            font-weight: 500;

            @media screen and (max-width: 600px) {
                font-size: $fs-sm;
            }
        }

        input, textarea {
            border: 1px solid $text-gray-200;
            padding:1.2rem 2.3rem;
            font-size: $fs-xs;
            width:100%;
            margin-top: 1.2rem;
            border-radius: .4rem;

            &::placeholder {
                color: $text-gray-300;
            }
        }
        
        .input-field {
            margin: 3rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .email-address, .phone-number {
                flex: 1;
            }
        }
        
        textarea {
            max-width: 100rem;
        }

        #submit {
            background: $text-red-400;
            color: $text-white;
            cursor: pointer;
            border: none;
            outline: none;
            font-size: $fs-xs;
            margin-top: 4rem;
            padding : 1.4rem 0;
        }
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;        
        
        .contact {
            padding-bottom: 10rem;

            h1{ width: 100%; }
        }

        form {
            textarea {
                max-width: 150rem;
            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin: 7rem 6rem;
        padding: 7rem 4rem;

        .contact, form {
            flex: 1;
        }

        .contact {
        
            
            h1 {
                font-size: $fs-lg;
                color: $text-white;
                width:100%;
                max-width: 27rem;
                line-height: 4rem;
            }
            
            .contact-address {
                display: flex;
                flex-direction: column;
            }

            .social-links {
                gap: 5rem;
            }
        }

        form {
            padding: 4rem;
            
            .input-field {
                flex-direction: column;
                align-items: stretch;
            }
            
            textarea {
                max-width: 75rem;
            }
        }
    }

    @media screen and (max-width: 600px) {
        margin: 5rem 0rem;
        margin-bottom: 10rem;
        padding: 4rem 2rem;


        form {
            padding: 6rem 2rem;
        }
    }
}