@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* 
color palette  
*/
/* font weight variables */
/* font family */
/* font sizes */
/*shadow variables */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100vw;
  overflow: hidden;
  /* background-color: grey; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 6rem;
  border-bottom: 2px solid #BFBFBF;
  background-color: #ffffff;
}
.navbar .brand-logo img {
  width: 6rem;
  height: 6rem;
}
.navbar .toggle-menu {
  display: none;
  padding: 0.5rem 0.98rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.navbar .toggle-menu::after {
  content: url("../Assets/icon-open.svg");
}
.navbar .toggle-menu.active::after {
  content: url("../Assets/icon-close.png");
}
.navbar .toggle-menu.active {
  border: 2px solid #1A1818;
}
@media screen and (max-width: 1400px) {
  .navbar .toggle-menu {
    display: block;
  }
}
.navbar .nav-links {
  display: inline-flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}
.navbar .nav-links li {
  font-size: 1.4rem;
}
.navbar .nav-links li:hover a, .navbar .nav-links li:focus a, .navbar .nav-links li.active a {
  color: #890006;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: #1A1818;
}
.navbar .nav-links li a i {
  transform: scale(0.7);
}
@media screen and (max-width: 1400px) {
  .navbar .nav-links {
    display: none;
    min-height: 100vh;
    height: auto;
    gap: 2rem;
    flex-direction: column;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10rem;
    align-items: start;
    font-family: "Suranna", serif;
    font-size: 2.4rem;
    z-index: 2;
  }
  .navbar .nav-links.active {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }
  .navbar .brand-logo img {
    width: 3rem;
    height: 3rem;
  }
  .navbar .nav-links {
    padding-top: 6rem;
  }
}

* {
  box-sizing: border-box;
}/*# sourceMappingURL=Home.css.map */