@use 'Navbar.scss';
@use 'Footer.scss';
@import 'default.scss';

*{
    box-sizing: border-box;
}

.bg-about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 7rem);
    background: linear-gradient(180deg, rgba(137, 0, 6, 0.46) 0%, rgba(0, 0, 0, 0.4) 85.5%), url('../Assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    position: relative;

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 1.3rem;
        background: none;
        border: 2px solid #fff;
        color: #fff;
        font-size: $fs-md;
        cursor: pointer;



        &:first-of-type {
            left: -.1rem;
        }

        &:last-of-type {
            right: -.1rem;
        }
    }
}

.hero-section h1 {
    width:90%;
    max-width: 50rem;
    font-size: $fs-xxl;
    line-height: 7rem;
    color: $text-white;
    font-weight: $fw-r;
    font-family: $ff-secondary;
}

.hero-section .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section p{
    color: $text-white;
    font-family: $ff-primary;
    line-height: 4rem;
    font-size: $fs-sm;
    width: 90%;
    max-width: 67rem;
    margin-bottom: 7rem;
}

.hero-section a {
    background: $text-white;
    box-shadow: 0 0 5px  $text-black;
    padding: 1.5rem 4.5rem;
    color: $text-black;
    text-decoration: none;
    font-family: $ff-primary;
    font-size: $fs-sm;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -5%;
        padding: .9rem;
        background-color: $text-red-400;
        color: $text-white;
        box-shadow: -5px 5px 40px rgba(0, 0, 0, 0.72);
    }

    &:hover {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        padding: 2rem;
        text-align: left;
        align-items: start;
        // justify-content: start;
        
        .hero-content {
            align-items: start;
        }
        
        h1 {
            font-size: $fs-xl;
            line-height: 5.3rem;
        }

        p {
            line-height: 3.5rem;
        }

        .carousel-control {
            margin-top: 7rem;
        }
        .carousel-button {
            position: static;
            // top: 50%;
            // transform: translateY(-50%);
            padding: 1rem 1.6rem;
            background: none;
            border: 2px solid #fff;
            color: #fff;
            font-size: $fs-md;
            cursor: pointer;
    
    
    
            &:first-of-type {
                left: none;
            }
    
            &:last-of-type {
                right: none;
                margin-left: 1rem;
            }
        }   
    }
}

.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15.4rem 6rem;

    .title {
        flex: 1;
        display: flex;
        align-items: center;
        h1 {
            font-size: $fs-xxl;
            color: $text-red-400;
            font-weight: $fw-r;
        }

        img {
            transform: translate(-7%, -60%);
        }
    }

    .mission-text {
        flex:1;
        text-align: left;
        border-top: 2px solid $text-red-400;
        padding: 4rem 4rem 4rem 12rem;

        p {
            font-size: $fs-md;
            font-family: $ff-primary;
            line-height: 4rem;
        }

        button {
            background: $text-red-400;
            border: none;
            padding: 1.4rem 4rem;
            font-size: $fs-sm;
            font-family: $ff-primary;
            color: $text-white;
            transition: .5s;

            &:hover {
                color: $text-red-400;
                background: transparent;
                box-shadow: 0 0 5px ;
            }

        }
    }

    @media screen and (max-width: 998px) {
        flex-direction: column;
        padding: 15.4rem 2rem;

    .title {
        flex: 1;
        display: flex;
        align-items: center;
        h1 {
            font-size: $fs-xl;
            color: $text-red-400;
            font-weight: $fw-r;
        }

        img {
            transform: translate(7%, -40%) scale(.8);
        }
    }

    .mission-text {
        padding: 0;
    }

    }
}

section.services {
    width: 100%;
    padding: 10.4rem 6rem;
    background: rgba($color: $text-red-100, $alpha: 0.23);

    @media screen and (max-width: 998px) {
        padding: 8rem 2rem;
    }
    .header {
        width: 100%;
        max-width: 100rem;
        margin-bottom: 6rem;
        
        h1 {
            font-size: $fs-xxl;
            line-height: 7rem;
            width: 100%;
            color: $text-red-400;
            font-weight: $fw-r;
            border-bottom: 2px solid $text-red-100;
            padding-bottom: 2rem;

            @media screen and (max-width: 600px) {
                font-size: $fs-xl;               
            }
        }
    }

    .service {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20%;

        .illustration {
          flex: 1; 

          img {
            width: 100%;
            max-height: 80rem;
            box-shadow: 15px 15px 5px 15px $text-gray-200;
          } 
        }

        .service-details {
            flex: 1;
            .number {
                color: $text-gray-200;
                font-size: 12rem;
                font-family: $ff-secondary;
            }

            h1 {
                color: $text-black;
                font-family: $ff-secondary;
                font-size: $fs-xl;

                @media screen and (max-width: 600px) {
                    font-size: $fs-lg;
                }
            }

            p {
                font-size: $fs-md;
                line-height: 3.5rem;
                margin: 2rem 0;
                margin-bottom: 3.5rem;
                color: $text-black;
                font-family: $ff-primary;
            }

            a {
                text-decoration: underline;
                color: $text-red-400;
                font-family: $ff-primary;
                font-size: $fs-md;
                transition: .9s;
                i {
                    transform: scale(.8);
                }

                &:hover {
                    letter-spacing: .5rem;
                }
            }
        }

        @media screen and (max-width:998px) {
            flex-direction: column; 
            gap: 4rem;    
            
            .illustration {
                flex: 1; 
      
                img {
                  width: 100%;
                  max-height: 80rem;
                  box-shadow: 8px 8px 5px 8px $text-gray-200;
                } 
              }
        }
    }
}

section.services.s_02, section.services.s_04 {
    background: transparent;
    .service {
        flex-direction: row-reverse;
        @media screen and (max-width:768px) {
            flex-direction: column;            
        }

        .service-details {
            a {
                color: $text-black
            }
        }

    }
}

section.services.s_03 {
    background: rgba($color: #3780CF, $alpha: .05);
    .service {
        .service-details {
            a {
                color: #3780CF
            }
        }

    }
}

.featured-projects {
    background: transparent;
    padding: 15.4rem 6rem;
    font-family: $ff-primary;

    @media screen and (max-width: 998px) {
        padding: 8rem 2rem;
    }

    .header {
        width: 100%;
        max-width: 100rem;
        margin-bottom: 6rem;
        
        h1 {
            font-size: $fs-xxl;
            line-height: 7rem;
            width: 100%;
            font-family: $ff-secondary;
            color: $text-black;
            border-bottom: 2px solid $text-gray-200;
            padding-bottom: 2rem;

            @media screen and (max-width: 600px) {
                font-size: $fs-xl;               
            }
        }
    }

    .featured-project {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20%;

        .illustration {
          flex: 1; 

          img {
            width: 100%;
            max-height: 80rem;
            box-shadow: 15px 15px 5px 15px $text-gray-200;
          } 
        }

        .about-featured-project {
            flex:1;
            h1 {
                font-size: $fs-xl;
                font-family: $ff-secondary;
            }

            p {
                font-size: $fs-md;
                font-family: $ff-primary; 
            }

            .details {
                display: grid;
                width: 100%;
                max-width: 50rem;
                gap: 2rem;
                font-family: $ff-primary;
                grid-template-columns: 1fr 1fr;

                .detail {
                    p {
                        font-size: $fs-md;
                        line-height: 1rem;
                    }

                    small {
                        font-size: $fs-sm;
                    }
                }
                .detail:nth-child(odd) {
                    grid-column: 1;
                }

                .detail:nth-child(even) {
                    grid-column: 2;
                }
            }
            button {
                margin-top: 4rem;
                padding: 1.2rem 5rem;
                font-size: $fs-sm;
                border: none;
                background: $text-black;
                color: $text-white;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    transform: scale(1.03);
                    background: transparent;
                    color: $text-black;
                    box-shadow: 0 0 2px 2px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 4rem;
            
            .illustration {
                flex: 1; 
      
                img {
                  width: 100%;
                  max-height: 80rem;
                  box-shadow: 7px 7px 5px 7px $text-gray-200;
                } 
            }

            .about-featured-project h1 {
                font-size: $fs-lg;
            }
        }
    }

}

.luxury {
    width: 100%;
    text-align: center;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(137, 0, 6, 0.16) 0%, rgba(0, 0, 0, 0.6) 85.5%), url('../Assets/luxury.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 3rem;
    h1 {
        font-size: clamp($fs-lg, $fs-xl, $fs-xxl);
        color: $text-white;
        font-family: $ff-secondary;
        font-weight: $fw-r;
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        text-align: left;
        justify-content: start;
        height: 35rem;
    }
}

.subscribe-section{
    padding: 15.4rem 6rem;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 10.4rem 3rem;        
    }

    .subscribe {
        width: 100%;
        max-width: 130rem;
        background: $text-red-400;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10.4rem 4rem;

        h1 {
            font-size: $fs-xxl;
            text-align: center;
            font-family: $ff-secondary;
            color: $text-white;
            font-weight: $fw-r;
            // line-height: 2rem;

            @media screen and (max-width: 600px) {
                font-size: $fs-lg;  
                line-height: 4.2rem;              
            }
        }

        p {
            font-size: $fs-md;
            color: $text-white;
            font-family: $ff-primary;
            text-align: center;
            width: 100%;
            max-width: 78rem;
            margin: 2rem 0;

            @media screen and (max-width: 600px) {
                font-size: $fs-sm;                
            }
        }

        form {
            display: flex;
            width: 100%;
            max-width: 60rem;
            font-family: $ff-primary;
            margin-top: 4rem;

            @media screen and (max-width: 600px) {
                flex-direction: column;
                gap: 3rem;                
            }

            input, button {
                border: none;
                padding: 1.5rem 2.5rem;
                font-size: $fs-md;
                outline: none;

                @media screen and (max-width: 500px) {
                    font-size: $fs-sm;                    
                }
            }

            input {
                background-color: $text-white;
                color: $text-black;
                flex:4;
            }

            button {
                background-color: $text-black;
                color: $text-white;
                flex:1;
                cursor: pointer;
            }
        }
    }
}

@keyframes animate-bg {
    from {
        background-size: 150% 150%;
    }

    to {
        background-size:100% 100%;
    }
}