@use 'Navbar.scss';
@use 'Footer.scss';
@import 'default.scss';

*{
    box-sizing: border-box;
}

.bg-about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 7rem);
    background: linear-gradient(180deg, rgba(137, 0, 6, 0.46) 0%, rgba(0, 0, 0, 0.4) 85.5%), url('../Assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    position: relative;

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 1.3rem;
        background: none;
        border: 2px solid #fff;
        color: #fff;
        font-size: $fs-md;
        cursor: pointer;



        &:first-of-type {
            left: -.1rem;
        }

        &:last-of-type {
            right: 1.8rem;
        }
    }
}

.hero-section h1 {
    width:90%;
    max-width: 50rem;
    font-size: $fs-xxl;
    line-height: 7rem;
    color: $text-white;
    font-weight: $fw-r;
    font-family: $ff-secondary;
}

.hero-section .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section p{
    color: $text-white;
    font-family: $ff-primary;
    line-height: 4rem;
    font-size: $fs-sm;
    width: 90%;
    max-width: 67rem;
    margin-bottom: 7rem;
}

.hero-section a {
    background: $text-white;
    box-shadow: 0 0 5px  $text-black;
    padding: 1.5rem 4.5rem;
    color: $text-black;
    text-decoration: none;
    font-family: $ff-primary;
    font-size: $fs-sm;
    position: relative;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -5%;
        padding: .9rem;
        background-color: $text-red-400;
        color: $text-white;
        box-shadow: -5px 5px 40px rgba(0, 0, 0, 0.72);
    }

    &:hover {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        padding: 2rem;
        text-align: left;
        align-items: start;
        // justify-content: start;
        
        .hero-content {
            align-items: start;
        }
        
        h1 {
            font-size: $fs-xl;
            line-height: 5.3rem;
        }

        p {
            line-height: 3.5rem;
        }

        .carousel-control {
            margin-top: 7rem;
        }
        .carousel-button {
            position: static;
            // top: 50%;
            // transform: translateY(-50%);
            padding: 1rem 1.6rem;
            background: none;
            border: 2px solid #fff;
            color: #fff;
            font-size: $fs-md;
            cursor: pointer;
    
    
    
            &:first-of-type {
                left: none;
            }
    
            &:last-of-type {
                right: none;
                margin-left: 1rem;
            }
        }   
    }
}

.mission {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15.4rem 6rem;

    .title {
        flex: 1;
        display: flex;
        align-items: center;
        h1 {
            font-size: $fs-xxl;
            color: $text-red-400;
            font-weight: $fw-r;
        }

        img {
            transform: translate(-7%, -60%);
        }
    }

    .mission-text {
        flex:1;
        text-align: left;
        border-top: 2px solid $text-red-400;
        padding: 4rem 4rem 4rem 12rem;

        p {
            font-size: $fs-md;
            font-family: $ff-primary;
            line-height: 4rem;
        }

        button {
            background: $text-red-400;
            border: none;
            padding: 1.4rem 4rem;
            font-size: $fs-sm;
            font-family: $ff-primary;
            color: $text-white
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 15.4rem 2rem;

    .title {
        flex: 1;
        display: flex;
        align-items: center;
        h1 {
            font-size: $fs-xl;
            color: $text-red-400;
            font-weight: $fw-r;
        }

        img {
            transform: translate(7%, -40%) scale(.8);
        }
    }

    .mission-text {
        padding: 0;
    }

    }
}


.subscribe-section{
    padding: 15.4rem 6rem;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        padding: 10.4rem 3rem;        
    }

    .subscribe {
        width: 100%;
        max-width: 130rem;
        background: $text-red-400;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10.4rem 4rem;

        h1 {
            font-size: $fs-xxl;
            text-align: center;
            font-family: $ff-secondary;
            color: $text-white;
            font-weight: $fw-r;
            line-height: 2rem;

            @media screen and (max-width: 600px) {
                font-size: $fs-lg;  
                line-height: 4.2rem;              
            }
        }

        p {
            font-size: $fs-md;
            color: $text-white;
            font-family: $ff-primary;
            text-align: center;
            width: 100%;
            max-width: 78rem;
            margin: 2rem 0;

            @media screen and (max-width: 600px) {
                font-size: $fs-sm;                
            }
        }

        form {
            display: flex;
            width: 100%;
            max-width: 60rem;
            font-family: $ff-primary;
            margin-top: 4rem;

            @media screen and (max-width: 600px) {
                flex-direction: column;
                gap: 3rem;                
            }

            input, button {
                border: none;
                padding: 1.5rem 2.5rem;
                font-size: $fs-md;
                outline: none;

                @media screen and (max-width: 500px) {
                    font-size: $fs-sm;                    
                }
            }

            input {
                background-color: $text-white;
                color: $text-black;
                flex:4;
            }

            button {
                background-color: $text-black;
                color: $text-white;
                flex:1;
                cursor: pointer;
            }
        }
    }
}

@keyframes animate-bg {
    from {
        background-size: 150% 150%;
    }

    to {
        background-size:100% 100%;
    }
}