@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* 
color palette  
*/
/* font weight variables */
/* opacity */
/* font family */
/* font sizes */
/*shadow variables */
/* Box sizing rules */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100vw;
  max-width: 200rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  /* background-color: grey; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 6rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #BFBFBF;
  background-color: #ffffff;
  margin: 0;
  height: 10rem;
}
@media screen and (min-width: 77rem) {
  .navbar .nav-links li:hover .dropdown li:nth-child(2).active .mini-dropdown {
    transform: translateY(-4rem);
  }
  .navbar .nav-links li:hover .dropdown li:nth-child(1).active .mini-dropdown {
    transform: translateY(-0.4rem);
  }
  .navbar .nav-links li:hover .dropdown li.active .mini-dropdown {
    display: none;
  }
  .navbar .nav-links {
    display: inline-flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
    font-family: "DM Sans", sans-serif;
  }
  .navbar .nav-links li {
    font-size: 2rem;
    position: relative;
    transition: 0.5s;
  }
  .navbar .nav-links li:hover > a, .navbar .nav-links li:focus > a, .navbar .nav-links li.active > a {
    color: #890006;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #890006;
  }
  .navbar .nav-links li:hover i, .navbar .nav-links li:focus i, .navbar .nav-links li.active i {
    transform: rotate(180deg) scale(0.7);
  }
  .navbar .nav-links li > a {
    text-decoration: none;
    color: #1A1818;
  }
  .navbar .nav-links li > a i {
    transform: scale(0.7);
  }
  .navbar .nav-links li:nth-child(3) .dropdown {
    width: 53rem;
    height: 31.5rem;
  }
  .navbar .nav-links li .dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 170%;
    background: #ffffff;
    width: 30rem;
    transition: 1s;
    z-index: 2;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
  }
  .navbar .nav-links li .dropdown li:hover > a, .navbar .nav-links li .dropdown li:focus > a, .navbar .nav-links li .dropdown li.active > a {
    border-bottom: none;
    padding-bottom: inherit;
    color: #890006;
  }
  .navbar .nav-links li .dropdown li i {
    transform: scale(0.7);
    transition: 0.5s;
  }
  .navbar .nav-links li .dropdown li:nth-child(2):hover .dropdown li .mini-dropdown, .navbar .nav-links li .dropdown li:nth-child(2).active .dropdown li .mini-dropdown {
    transform: translateY(-5rem);
  }
  .navbar .nav-links li:hover .dropdown, .navbar .nav-links li.active .dropdown {
    display: block;
    list-style: none;
    padding: 2rem 3rem;
  }
  .navbar .nav-links li:hover .dropdown li, .navbar .nav-links li.active .dropdown li {
    font-size: 1.6rem;
    margin: 2rem 0;
    cursor: pointer;
  }
  .navbar .nav-links li:hover .dropdown li span, .navbar .nav-links li.active .dropdown li span {
    display: flex;
    align-items: center;
    opacity: 0.55;
    font-size: 1.6rem;
  }
  .navbar .nav-links li:hover .dropdown li span img, .navbar .nav-links li.active .dropdown li span img {
    width: 2rem;
    margin-right: 1rem;
    opacity: 0.55;
  }
  .navbar .nav-links li:hover .dropdown li span i, .navbar .nav-links li.active .dropdown li span i {
    transform: scale(0.7);
    transition: 0.3s;
    margin-left: 0.5rem;
  }
  .navbar .nav-links li:hover .dropdown li.active span, .navbar .nav-links li.active .dropdown li.active span {
    opacity: 1;
  }
  .navbar .nav-links li:hover .dropdown li.active span img, .navbar .nav-links li.active .dropdown li.active span img {
    opacity: 1;
  }
  .navbar .nav-links li:hover .dropdown li.active span i, .navbar .nav-links li.active .dropdown li.active span i {
    transform: rotate(180deg) scale(0.7);
  }
  .navbar .nav-links li:hover .dropdown li a, .navbar .nav-links li.active .dropdown li a {
    color: #1A1818;
  }
  .navbar .nav-links li:hover .dropdown li .mini-dropdown::before, .navbar .nav-links li.active .dropdown li .mini-dropdown::before {
    content: "";
    position: absolute;
    left: -3%;
    height: 100%;
    width: 2px;
    background: #545454;
  }
  .navbar .nav-links li:hover .dropdown li .mini-dropdown, .navbar .nav-links li.active .dropdown li .mini-dropdown {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 43%;
    top: 0;
  }
  .navbar .nav-links li:hover .dropdown li .mini-dropdown li, .navbar .nav-links li.active .dropdown li .mini-dropdown li {
    margin: 1.5rem 0;
    width: 100%;
  }
  .navbar .nav-links li:hover .dropdown li .mini-dropdown li:hover > a, .navbar .nav-links li.active .dropdown li .mini-dropdown li:hover > a {
    color: #890006;
  }
  .navbar .nav-links li:hover .dropdown li.active .mini-dropdown, .navbar .nav-links li.active .dropdown li.active .mini-dropdown {
    display: block;
  }
  .navbar .nav-links li:hover .dropdown {
    display: none;
  }
}
.navbar .brand-logo {
  z-index: 3;
}
.navbar .brand-logo img {
  width: 6rem;
  height: 6rem;
}
.navbar .toggle-menu {
  display: none;
  padding: 0.5rem 0.98rem;
  border-radius: 0.4rem;
  cursor: pointer;
  z-index: 3;
}
.navbar .toggle-menu::after {
  content: url("../Assets/icon-open.svg");
}
.navbar .toggle-menu.active::after {
  content: url("../Assets/icon-close.png");
}
.navbar .toggle-menu.active {
  border: 2px solid #1A1818;
}
@media screen and (max-width: 77rem) {
  .navbar .toggle-menu {
    display: block;
  }
}
.navbar .nav-links {
  display: inline-flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  font-family: "Suranna", serif;
}
.navbar .nav-links li {
  font-size: 2rem;
}
.navbar .nav-links li:hover a, .navbar .nav-links li:focus a, .navbar .nav-links li.active a {
  color: #890006;
}
.navbar .nav-links li:hover i, .navbar .nav-links li:focus i, .navbar .nav-links li.active i {
  transform: rotate(180deg) scale(0.7);
}
.navbar .nav-links li > a {
  text-decoration: none;
  color: #1A1818;
}
.navbar .nav-links li > a i {
  transform: scale(0.7);
}
.navbar .nav-links li .dropdown {
  display: none;
}
.navbar .nav-links li .dropdown li i {
  transform: scale(0.7);
  transition: 0.3s;
}
.navbar .nav-links li:hover .dropdown, .navbar .nav-links li.active .dropdown {
  display: block;
  list-style: none;
  padding: 1rem 3rem;
}
.navbar .nav-links li:hover .dropdown li, .navbar .nav-links li.active .dropdown li {
  margin: 0.8rem 0;
}
.navbar .nav-links li:hover .dropdown li span, .navbar .nav-links li.active .dropdown li span {
  display: flex;
  align-items: center;
  opacity: 0.7;
}
.navbar .nav-links li:hover .dropdown li span img, .navbar .nav-links li.active .dropdown li span img {
  width: 2rem;
  margin-right: 1rem;
  opacity: 0.7;
}
.navbar .nav-links li:hover .dropdown li span i, .navbar .nav-links li.active .dropdown li span i {
  transform: scale(0.7);
  transition: 0.3s;
  margin-left: 0.5rem;
}
.navbar .nav-links li:hover .dropdown li.active span, .navbar .nav-links li.active .dropdown li.active span {
  opacity: 1;
}
.navbar .nav-links li:hover .dropdown li.active span img, .navbar .nav-links li.active .dropdown li.active span img {
  opacity: 1;
}
.navbar .nav-links li:hover .dropdown li.active span i, .navbar .nav-links li.active .dropdown li.active span i {
  transform: rotate(180deg) scale(0.7);
}
.navbar .nav-links li:hover .dropdown li a, .navbar .nav-links li.active .dropdown li a {
  color: #1A1818;
}
.navbar .nav-links li:hover .dropdown li .mini-dropdown, .navbar .nav-links li.active .dropdown li .mini-dropdown {
  display: none;
  list-style: none;
  padding: 0rem 4rem;
}
.navbar .nav-links li:hover .dropdown li .mini-dropdown li, .navbar .nav-links li.active .dropdown li .mini-dropdown li {
  margin: 1.5rem 0;
}
.navbar .nav-links li:hover .dropdown li.active .mini-dropdown, .navbar .nav-links li.active .dropdown li.active .mini-dropdown {
  display: block;
}
@media screen and (max-width: 77rem) {
  .navbar .nav-links {
    display: none;
    background: #ffffff;
    height: auto;
    min-height: 100vh;
    width: calc(100% + 6rem);
    gap: 2rem;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10rem;
    align-items: start;
    font-family: "Suranna", serif;
    font-size: 2rem;
    transition: all 1s;
  }
  .navbar .nav-links.active {
    display: flex;
    z-index: 2;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 2rem;
  }
  .navbar .brand-logo img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .navbar .nav-links {
    padding-top: 12rem;
    width: calc(100% + 3rem);
    left: -3rem;
  }
}

/* 
color palette  
*/
/* font weight variables */
/* opacity */
/* font family */
/* font sizes */
/*shadow variables */
/* Box sizing rules */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100vw;
  max-width: 200rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  /* background-color: grey; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
footer {
  display: flex;
  width: 100%;
  background: #1A1818;
  padding: 5rem 6rem;
  padding-bottom: 0;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  margin-top: 3rem;
}
footer .main-footer {
  display: flex;
  justify-content: space-between;
  gap: 7rem;
}
footer .main-footer .footer-links, footer .main-footer .brand-logo, footer .main-footer .contact {
  flex-basis: 26rem;
}
footer .main-footer .brand-logo, footer .main-footer .contact {
  flex: 1;
}
footer .main-footer .brand-logo img {
  padding: 1rem;
  background: #ffffff;
  width: 8rem;
  height: 8rem;
  border-radius: 0.7rem;
}
footer .main-footer .footer-links {
  flex: 2;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}
footer .main-footer .quick-links p, footer .main-footer .services p {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
}
footer .main-footer .quick-links ul, footer .main-footer .services ul {
  list-style: none;
  padding: 0;
}
footer .main-footer .quick-links ul li, footer .main-footer .services ul li {
  margin: 3rem 0;
}
footer .main-footer .quick-links ul li a, footer .main-footer .services ul li a {
  color: #BFBFBF;
  font-size: 1.4rem;
  text-decoration: none;
}
footer .main-footer .contact {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}
footer .main-footer .contact p {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
footer .main-footer .contact > a {
  display: inline-flex;
  gap: 1rem;
  color: #BFBFBF;
  font-size: 1.4rem;
  margin: 1.5rem 0;
  text-decoration: none;
}
footer .main-footer .contact > a:nth-child(3) {
  text-decoration: underline;
}
footer .main-footer .contact > a img {
  width: 1.9rem;
  text-decoration: none;
}
footer .main-footer .contact hr {
  width: 100%;
  height: 1px;
  background-color: #545454;
  border: none;
}
footer .main-footer .contact .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}
@media screen and (max-width: 600px) {
  footer .main-footer .contact .social-links {
    margin-top: 1.5rem;
  }
}
footer .main-footer .contact .social-links img {
  width: 2.2rem;
  height: 2.2rem;
}
@media screen and (max-width: 1000px) {
  footer .main-footer {
    flex-direction: column;
    align-items: start;
    gap: 3rem;
  }
  footer .main-footer .footer-links, footer .main-footer .brand-logo, footer .main-footer .contact {
    flex-basis: 0;
  }
}
footer > hr {
  margin-top: 5rem;
  width: 100%;
  width: 100%;
  height: 1px;
  background-color: #545454;
  border: none;
}
footer .copyright {
  text-align: center;
  padding: 3.5rem 0;
  color: #BFBFBF;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 5rem 1rem;
    padding-bottom: 0;
  }
  footer .main-footer .brand-logo img {
    padding: 0.8rem;
    width: 6rem;
    height: 6rem;
    border-radius: 0.4rem;
  }
  footer .main-footer {
    margin-bottom: 3rem;
  }
  footer .main-footer .contact > a img {
    width: 1.9rem;
  }
  footer > hr {
    margin-top: 3rem;
  }
  footer .copyright {
    padding: 2rem 0;
  }
}

/* 
color palette  
*/
/* font weight variables */
/* opacity */
/* font family */
/* font sizes */
/*shadow variables */
/* Box sizing rules */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100vw;
  max-width: 200rem;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  /* background-color: grey; */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.heroimg {
  background: linear-gradient(180deg, rgba(26, 24, 24, 0) 0%, rgba(26, 24, 24, 0.9) 100%), url("../Assets/dgr_proj_illustration.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50vh;
  min-height: 45rem;
  max-height: 55rem;
  margin: 0;
  transform: translateY(-2%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroimg h1 {
  color: #ffffff;
  font-family: "Suranna", serif;
  font-size: 6.4rem;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .heroimg {
    height: 30vh;
    min-height: 25rem;
    max-height: 35rem;
  }
  .heroimg h1 {
    font-size: 3.6rem;
  }
}

.filter {
  width: 100%;
  padding: 10rem 6rem;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .filter {
    padding: 8rem 2rem;
  }
}
.filter .header {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.15);
}
.filter .header > div {
  background: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 3.7rem;
}
@media screen and (max-width: 768px) {
  .filter .header > div {
    padding: 1.4rem 1rem;
  }
}
.filter .header > div h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 0;
}
@media screen and (max-width: 600px) {
  .filter .header > div h3 {
    font-size: 16px;
  }
}
.filter .header > div p {
  font-size: 1.6rem;
  line-height: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 600px) {
  .filter .header > div p {
    font-size: 1.4rem;
  }
}
.filter .header > div p i {
  transform: scale(0.9);
}
.filter .header button {
  background-color: #890006;
  width: 18.8rem;
  border: none;
  outline: none;
  padding: 2.9rem;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .filter .header button {
    width: auto;
    padding: 2.3rem 4rem;
  }
}
.filter .filter-projects {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 5.5rem 3.7rem 5.4rem 3.7rem;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.1);
}
.filter .filter-projects.show {
  display: flex;
}
.filter .filter-projects .groups {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 12rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .filter .filter-projects .groups {
    gap: 7rem;
  }
}
.filter .filter-projects .groups .line {
  width: 1px;
  background: #BFBFBF;
}
@media screen and (max-width: 900px) {
  .filter .filter-projects .groups .line {
    display: none;
  }
}
.filter .filter-projects .groups .group {
  flex: 2;
  min-width: 20rem;
}
.filter .filter-projects .groups .group .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.filter .filter-projects .groups .group .form-control label {
  font-size: 2rem;
  line-height: 6.4rem;
  color: #1A1818;
}
.filter .filter-projects .groups .group .form-control .select {
  color: #545454;
  padding: 2.5rem 1.6rem;
  border: 1px solid #BFBFBF;
  position: relative;
  width: 100%;
}
.filter .filter-projects .groups .group .form-control .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
}
.filter .filter-projects .groups .group .form-control .select select::-moz-placeholder {
  color: #545454;
}
.filter .filter-projects .groups .group .form-control .select select:-ms-input-placeholder {
  color: #545454;
}
.filter .filter-projects .groups .group .form-control .select select::placeholder {
  color: #545454;
}
.filter .filter-projects .groups .group .form-control .select select::-ms-expand {
  display: none;
}
.filter .filter-projects .groups .group .form-control .select::after {
  content: ">";
  position: absolute;
  right: 2.6rem;
  top: 50%;
  color: #545454;
  font-size: 2.6rem;
  transform: translateY(-50%) rotate(90deg);
}
.filter .filter-projects .groups .group .form-control .range-slider {
  max-width: 30em;
  margin: 2rem;
  position: relative;
  display: flex;
}
.filter .filter-projects .groups .group .form-control .range-slider .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1.8em;
  border-radius: 3px;
  outline: none;
  background: #890006;
  /* box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #090909; */
}
.filter .filter-projects .groups .group .form-control .range-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3.7em;
  height: 3.7em;
  cursor: pointer;
  z-index: auto;
  position: relative;
}
.filter .filter-projects .groups .group .form-control .range-slider .slider-thumb {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  background: #890006;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: inset 0px 1px 2px #890006;
}
.filter .filter-projects .groups .group .form-control .range-slider .slider-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7em;
  height: 0.7em;
  background: #890006;
  border-radius: inherit;
  transition: 0.3s;
}
.filter .filter-projects .groups .group .form-control .range-slider .slider-thumb-fixed {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  background: #890006;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: inset 0px 1px 2px #890006;
}
.filter .filter-projects .groups .group .form-control .range-slider .slider-thumb-fixed::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7em;
  height: 0.7em;
  background: #890006;
  border-radius: inherit;
  transition: 0.3s;
}
.filter .filter-projects .groups .group .form-control .range-slider .tooltip-fixed {
  position: absolute;
  width: 3.8em;
  height: 2.4em;
  bottom: -5.7em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #890006;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 0.8rem;
  box-shadow: 0px 3px 10px #1f1f1f inset 0 1px 2px #890006;
}
.filter .filter-projects .groups .group .form-control .range-slider .tooltip-fixed::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #890006;
  top: -1.3em;
  left: 50%;
  transform: translateX(-50%);
}
.filter .filter-projects .groups .group .form-control .range-slider .tooltip {
  position: absolute;
  width: 9.5em;
  height: 2.4em;
  bottom: -5.7em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #890006;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 0.8rem;
  box-shadow: 0px 3px 10px #1f1f1f inset 0 1px 2px #890006;
}
.filter .filter-projects .groups .group .form-control .range-slider .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #890006;
  top: -1.2em;
  left: 50%;
  transform: translateX(-50%);
}
.filter .filter-projects .groups .group .form-control .range-slider .progress {
  width: 50%;
  height: 1.8em;
  border-radius: 3px;
  background: #890006;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
}
.filter .filter-projects .groups .group .form-control .range-slider .min, .filter .filter-projects .groups .group .form-control .range-slider .max {
  position: absolute;
  top: -4.7em;
  color: #545454;
}
.filter .filter-projects .groups .group .form-control .range-slider .min {
  left: -0.7em;
}
.filter .filter-projects .groups .group .form-control .range-slider .max {
  right: -0.7em;
}
.filter .filter-projects button {
  background: #890006;
  width: 100%;
  max-width: 500px;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1rem 0;
  border: none;
  outline: none;
  margin-top: 6rem;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6rem;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 20rem;
}
@media screen and (max-width: 768px) {
  .projects-section {
    padding: 6rem 2rem;
  }
}
.projects-section .project-card {
  flex: 1;
  flex-basis: 43rem;
  height: 43rem;
  padding: 3.8rem;
  padding-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}
.projects-section .project-card h2 {
  font-family: "Suranna", serif;
  font-size: 3.6rem;
  margin: 0;
  font-weight: 400;
  line-height: 4.031rem;
}
.projects-section .project-card > p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.projects-section .project-card div {
  display: flex;
  gap: 4.1rem;
  align-items: center;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .projects-section .project-card div {
    gap: 2rem;
  }
}
.projects-section .project-card div p {
  font-size: 1.6rem;
  line-height: 6.4rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.projects-section .project-card:nth-child(1), .projects-section .project-card:nth-child(5) {
  background: linear-gradient(180deg, rgba(26, 24, 24, 0) 0%, rgba(26, 24, 24, 0.9) 100%), url("../Assets/feat-proj.png");
}
.projects-section .project-card:nth-child(2), .projects-section .project-card:nth-child(6) {
  background: linear-gradient(180deg, rgba(26, 24, 24, 0) 0%, rgba(26, 24, 24, 0.9) 100%), url("../Assets/cph.png");
}
.projects-section .project-card:nth-child(3), .projects-section .project-card:nth-child(4) {
  background: linear-gradient(180deg, rgba(26, 24, 24, 0) 0%, rgba(26, 24, 24, 0.9) 100%), url("../Assets/tcv.png");
}
.projects-section .project-card:nth-child(odd), .projects-section .project-card:nth-child(even) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}/*# sourceMappingURL=project.css.map */