@use 'Navbar.scss';
@use 'Footer.scss';
@import 'default.scss';

.heroimg {
    background: linear-gradient(rgba($color: #000000, $alpha: 0.1), rgba($color: #000000, $alpha: 0.4)) , url('../Assets/reb-hero-img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50vh;
    min-height: 45rem;
    max-height: 55rem;
    margin: 0;
    transform: translateY(-2%);
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {            
        color: $text-white;
        font-family: $ff-secondary;
        font-size: $fs-xxl;
        font-weight: $fw-r;
    }

    @media screen and (max-width: 600px) {
        height: 30vh;
        min-height: 25rem;
        max-height: 35rem;  
        justify-content: start;
        padding: 2rem;
        
        h1 {            
            font-size: $fs-lg;
        }
    }
}

.ret-details {
    position: relative;
    display: flex;
    align-items: center;
    margin: 7rem 6rem;
    padding: 6rem 0;
    gap: 14rem;

    
    .back {
        display: flex;
        text-decoration: none;
        align-items: center;
        gap: .4rem;
        color: $text-black;
        font-size: $fs-xs;
        position: absolute;
        top: 0;
        left: 0;
        font-family: $ff-primary;

        i {
           font-size: 1.2rem; 
        }
    }

    .overview-illustration, .ret-details-text {
        flex: 1;
    }

    .overview-illustration.type-a {
        img {
            box-shadow: -7rem -5.2rem 0 #0E2E51;
        }
    }

    .overview-illustration.type-b {
        img {
            box-shadow: -7rem -5.2rem 0 #890006;
        }
    }

    .overview-illustration.type-c {
        img {
            box-shadow: -7rem -5.2rem 0 #1A1818;
        }
    }

    .overview-illustration {
        img {
            transform: translate(7rem, 7rem); 
        }
    }

    .ret-details-text {
        p {
            font-size: $fs-xs;
            line-height: 2.5rem;
            color: $text-black;
            font-family: $ff-primary;


        }

        .title {
            color: #989898;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        margin: 2rem 1.3rem;
        padding: 3rem 0;
        gap:0;
        
        .overview-illustration {
            img {
                transform: translate(0, 0) scale(.7); 
            }
        }
        .ret-details-text {
            p {
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
            
            .title {
                line-height: 2.5rem;
            }
        }
    }
}

.why-dgr {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 6rem;
    margin: 10rem 0;

    &.type-lb {
        background-color: rgba($color: #0E2E51, $alpha: 0.05);
    }

    &.type-lr {
        background-color: rgba($color: #890006, $alpha: 0.05);
    }

    &.type-lbk {
        background-color: rgba($color: $text-black, $alpha: 0.05);
    }

    .why-dgr-illustration, .why-dgr-text {
        flex: 1;
    }

    .why-dgr-illustration {
        img {
            width: 100%;
            max-width: 60rem;
            box-shadow: 5px 5px 4px 5px rgba($color: $text-gray-200, $alpha: 1);
        }
    }

    .why-dgr-text {
        h1{
            font-family: $ff-secondary;
            font-size: $fs-xl;
            font-weight: 400;
            line-height: 6.4rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #BFBFBF;
            width: 100%;
            color: #0E2E51;
        }

        p {
            font-family: $ff-primary;
            font-size: $fs-xs;
            line-height: 2.5rem;
            padding: 0 1rem;

            span {
                margin-bottom: 2.5rem;
                display: block;
            }
        }

        form {
            margin: 2rem 1rem;
            background-color: $text-white;
            width: 100%;
            padding: 3.2rem 6.7rem;
            
            h2 {
                font-size: 2.4rem;
                font-weight: 400;
                color: #890006;
            }

            .input-field {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                margin: 1.5rem 0;

                input {
                    flex: 1;
                    padding: 1.1rem 1.5rem;
                    border: 1px solid #989898 ;

                    &::placeholder {
                        color: #545454;
                        font-size: $fs-xs;
                        font-family: $ff-primary;
                    }
                }

                .phone {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    border: 1px solid #989898 ;

                    .country-code {
                        position: relative;
                        padding: .8rem 1.5rem;
                        display: flex;
                        align-items: center;
                        gap: .8rem;
                        border-right: 1px solid #989898;
                        padding-right: 1rem;
                        img {
                            width: 1.4rem;
                        }

                        span {
                            font-size: $fs-xs;
                            font-family: $ff-primary;
                        }


                        .cc_dropdown {
                            position: absolute;
                            left: 0;
                            top: 100%;
                            padding: 0;
                            list-style: none;
                            background: #fff;
                            padding: 1rem;
                            border: 1px solid rgba($color: #890006, $alpha: 0.05);
                            box-shadow: 0 0 1px 1px rgba($color: #890006, $alpha: 0.05);
                            width: 10rem;
                            max-height: 12rem;
                            overflow-y: scroll; 
                            display: none;
                            
                            &.active {
                                display: flex;
                            }

                            &::-webkit-scrollbar {
                                width: 3px;
                            }

                            &::-webkit-scrollbar-track {
                                background: rgba($color: #890006, $alpha: 0.05);
                            }

                            &::-webkit-scrollbar-thumb {
                                background: rgba($color: $text-gray-200, $alpha: 1);
                                border-radius: 30rem;
                                border: none;
                            }

                            li {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                margin: 1rem 0;
                            }
                        }
                    }
                    input {
                        padding: 0 1rem;
                        border: none;

                    }
                }
            }
            textarea {
                padding: 1.1rem 1.5rem;
                border: 1px solid #989898;
                width: 100%;
                min-width: 40rem;
                max-width: 82rem;
                min-height: 10rem;
                max-height: 12rem; 

                &::placeholder {
                    color: #545454;
                    font-size: $fs-xs;
                    font-family: $ff-primary;
                }
            }

            button {
                display: block;
                background-color: #890006;
                border: none;
                width: 100%;
                text-align: center;
                margin-top: 1.5rem;
                color: $text-white;
                padding: 1.1rem 0;
                font-size: $fs-xs;
                font-family: $ff-primary;
            }
        }
    }
}